.texto{
	text-align: center;
}
.tabla{
	text-align: center ;
	margin: 0px auto;
}
#padre{
	text-align: center ;
}

thead{
	background-color: #1E99DF;
	color:white;
}
#cuerpo{
	color: black;
}

#datosa{
	width: 100%;
}
#datost{
	width: 20%;
}