<h3 class="titulo-productos text-center">Nuestras Ventas</h3>
<div class="row">
<div class="col-lg-8 .col-xl-8 .col-md-8 .col-sm-8 col-12">
<div class="row" id="buscar">
		<div class="col-6">
			<div class="container">
				<input type="text" maxlength="8" class="form-control" id="buscar" placeholder="Buscar Cliente" [(ngModel)]='buscar'>
			</div>
		</div>
		<div class="col-6">
			<button id="Consultar" class="btn btn-primary" (click)='consuCliente();'> Consultar</button>
		</div>
	</div>
	<form>
		<div id="general">
			<div id="tit"><p>Datos del Cliente</p></div>
			<div class="row" id="fer" >
				<div class="col-6 col-lg-6 .col-xl-6 .col-md-6 .col-sm-6 ">
					<div class="row">
						<div class="col-12 col-lg-12 .col-xl-12 .col-md-12 .col-sm-12">
							<label><div id="titulo"><b>Nombre:</b></div></label><br>
							<input type="text" style="width: 100%" disabled *ngFor="let data of clienteList" value={{data.nombre}}>
						</div>
					</div>
					<div class="row">
						<div class="col-7 col-lg-7 .col-xl-7 .col-md-7 .col-sm-7">
							<label ><div id="titulo"><b>Fecha</b></div></label><br>
							<input type="date" style="width: 170px" disabled *ngFor="let data of clienteList" value={{data.fecha}}>
						</div>
						<div class="col-5 col-lg-5 .col-xl-5 .col-md-5 .col-sm-5">
							<label><div id="titulo"><b>DNI</b></div></label><br>
							<input type="text" maxlength="8" style="width: 100%" disabled *ngFor="let data of clienteList" value={{data.dni}}>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-12 col-lg-12 .col-xl-12 .col-md-12 .col-sm-12">
							<label><div id="titulo"><b>Direccion</b></div></label> <br>
							<input type="text" style="width: 100%" disabled *ngFor="let data of clienteList" value={{data.direccion}}>
						</div>
					</div>
					<div class="row">
						<div class="col-5 col-lg-5 .col-xl-5 .col-md-5 .col-sm-5">
							<label><div id="titulo"><b>Estado</b></div></label> <br>
							<input type="text" maxlength="10" style="width: 100%" disabled *ngFor="let data of clienteList" value={{data.estado}}>
						</div>
						<div class="col-7 col-lg-7 .col-xl-7 .col-md-7 .col-sm-7">
							<label><div id="titulo"><b>Comprobante</b></div></label><br>
							<input type="text" style="width: 100% " disabled *ngFor="let data of clienteList" value={{data.comprobante}}>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>			
  </div>
  <div class="col-lg-4 .col-xl-4 .col-md-4 .col-sm-4 col-12">
  	<div class="row" id="buscar">
    <div class="col-6">
        <div class="buscar">
            <input type="text" class="form-control" id="buscar" placeholder="Buscar Producto" [(ngModel)]='buscar'>  
        </div>
    </div>
    <div class="col-6 col-sm-6.col-md-6 .col-lg-6 .col-xl-6 ">
     <button id="Consultar"class="btn btn-primary" (click)='consuProducto();'> Consultar</button>
    </div>
</div>
<div id="lizz"class="container" >
	<div class="row">
		<div class="col-12">
			<div id="titulos">Datos Productos</div>
		</div>
	</div>
	<div class="row">
      <div class="col-lg-12  col-sm-12 col-md-12 col-xl-12">
      	<label><b>PRODUCTOS</b></label> <br>
      	<input type="text" name="" id="" style="width: 100%" disabled *ngFor="let data of productoList" value={{data.nombre}}>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
      	<label><b>UNIDAD</b></label> <br>
      	<input type="text" name="" id="" style="width: 100%"disabled *ngFor="let data of productoList" value={{data.um}}>
      </div>
    <div class="col-lg-6 col-sm col-md-6 colxl-6">
      	<label><b>PRECIO/U</b></label> <br>
      	<input type="text" name="" id="" style="width: 100%"disabled *ngFor="let data of productoList" value={{data.precio}}>
      </div>
    </div>
    <div class="row">
     <div class="col-lg-6" *ngFor="let data of productoList">
      <label><b>CANTIDAD</b></label> <br>
      <input type="text" name="CANTIDAD" id="" style="width: 100%" id=""value=0 [(ngModel)]="cantidad">
     </div>
     <div class="col-lg-6" *ngFor="let data of productoList">
      <label><b>IMPORTE</b></label> <br>
      <input type="text" name="" id="IMPORTE" style="width: 100%" value="{{cantidad*data.precio}}" disblend>
     </div>
 </div>
    <div class="row" >
    	<div class="center">
 			<input type="button" id="boton" value="Agregar">
    	</div>
    </div>
</div>  
   





  </div>
</div>
<div class="row">
  <div class="col-lg-12 .col-xl-12 .col-md-12 .col-sm-12 col-12">
  	<div class="row">
  		<div class="container">
	<div class="row">
		<table border="1px">
			<thead>
				<th id="datost">
					Descr.
				</th>		
				<th  id="datost">
					Cod.
				</th>
				<th  id="datost">
					UM
				</th>
				<th  id="datost">
					Prec.
				</th>
				<th  id="datost">
					Cant.
				</th>
				<th  id="datost">
					Imp.
				</th>
				<th  id="datost">
					Act.
				</th>
			</thead>
			<tbody id="cuerpo"> 
				<td>
					<input type="text" name="" id="datosa" disabled value="collar de perro 3.2">	
				</td>
				<td>
					<input type="text" name="" id="datosa" disabled value="29145670">
				</td>
				<td>
					<input type="text" name="" id="datosa" disabled value="Kg">
					
				</td>
				<td>
					<input type="text" name="" id="datosa" disabled value="0.10">	
				</td>
				<td>
					<input type="text" name="" id="datosa" disabled value="10">
				</td>
				<td>
					<input type="text" name="" id="datosa" disabled value="1">
				</td>
				<td>
					<input type="button" value="X" class="btn btn-danger">
				</td>
			</tbody>	
		</table>	
	</div>
		<div class="row">
			<div class="col-6 col-lg-6 .col-xl-6 .col-md-6 .col-sm-6">
				<div class="texto">
					Un Sol con 0/100 nuevos soles
				</div>
			</div>
			<div class="col-6 d-flex justify-content-center" id="padre">
				<div class="tabla">
					<table border="1px">
						<tr>
							<td> <b>Valor de Venta:</b></td>
							<td>0</td>
						</tr>
						<tr>
							<td> <b>IGV:</b></td>
							<td>0</td>
						</tr>
						<tr>
							<td> <b>Importe Total:</b></td>
							<td>0</td>
						</tr>
					</table>	
				</div>
			</div>
		</div>		
		</div>
  	</div>
  </div>
</div>