.texto{
	text-align: center;
}
.tabla{
	text-align: center ;
	margin: 0px auto;
}
#padre{
	text-align: center ;
}

thead{
	background-color: #3D403B;
	color:white;
}
#cuerpo{
	color: black;
	
}

#datosa{
	width: 100%;
}
#datost{
	width: 20%;
}
#buscar{
    padding-left: 10%;
}





#general{
    background-color: #3D403B;
    border-radius:10px 10px 10px 10px ;
    border: black 2px solid;
    margin: 1%;
    

}
#titulo{
    color:white;
    text-align: center;
}
#ttt{
    border-radius:5px 5px;
}
#tit{
    color:white;
    text-align: center;
    border: black 2px solid;
    border-radius:10px 10px 10px 10px ;

}
input {

    border: 1px solid #ccc;
    -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#buscar{
    margin: 1%;

}
#Consultar{
    background-color: #3D403B !important;
    margin: 1%;
}
#lizz{ 
  background-color: #404040;
  border-radius: 10px 10px 10px 10px;
  border: black 3px solid;
  padding: 1%;

}

#boton{
  border-radius: 10px 10px 0 0;
  background-color: #5b7989;
}  
.center{
    text-align: center;
    margin: auto;
}

#Consultar{
    background-color: #607d8b !important;
    margin: 1%;
}

#buscar{
    margin: 1%;
    padding-left: 10%;
}
#titulos{
    color:white;
    text-align: center;
    border: black 2px solid;
    border-radius:10px 10px 10px 10px ;


}

