<div class="content" #content >
    <div class="col-lg-12 .col-xl-12 .col-md-12 .col-sm-12 col-12">
      <div class="1" *ngFor="let data of factList ; let isLast  = last"  >
        <div class="2" *ngIf="isLast" >
          <div id="titulo">
            <H2>FACTURA ELECTRONICA</H2>
          </div>
          <div id="facturas" class="container">
          <div >
              <b _ngcontent-vfa-c1="">ID:
              </b>
              <p> <br> {{data.$key}}</p>
          </div>
        </div>
          <div id="facturas" class="container">
              <div >
                  <b _ngcontent-vfa-c1="">Cliente:
                  </b>
                  <p> <br> {{data.cliente}}</p>
              </div>
          </div>
          <div id="facturas" class="container">
                          <div >
                              <b _ngcontent-vfa-c1="">Direccion:
                              </b>
                              <p> <br> {{data.direccion}}</p>
                          </div>
          </div>
          <div id="facturas" class="container">
                  <div >
                      <b _ngcontent-vfa-c1="">Fecha:
                      </b>
                      <p> <br> {{data.fecha}}</p>
                  </div>
          </div>
          <div id="facturas" class="container">
                      <div >
                          <b _ngcontent-vfa-c1="">Subtotal:
                          </b>
                          <p> <br> {{data.subtotal}}</p>
                      </div>
          </div>
          <div id="facturas" class="container">
              <div >
                  <b _ngcontent-vfa-c1="">Igv:
                  </b>
                  <p> <br> {{data.igv}}</p>
              </div>
          <div id="facturas" class="container">
                              <div >
                                  <b _ngcontent-vfa-c1="">Total:
                                  </b>
                                  <p> <br> {{data.total}}</p>
                              </div>
          </div>
          
</div>
          
        </div>
      </div>
    </div>
  </div>
  <div id="descarga"><button (click)="downloadPDF()">DescargarFactura</button></div>
<div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" id="shu">
        <div class="container">
            <table class="table table-hover"  >
                <thead>
                  <tr>
                    <th scope="col" id="cols">Cli.</th>
                    <th scope="col" id="cols">Dir.</th>
                    <th scope="col" id="cols">Fec.</th>
                    <th scope="col" id="cols">Subt</th>
                    <th scope="col" id="cols">Igv</th>
                    <th scope="col" id="cols">Tot</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let data of factList">
                    <td scope="row">{{data.cliente}}</td>
                    <td id="rows">{{data.direccion}}</td>
                    <td id="rows">{{data.fecha}}</td>
                    <td id="rows">{{data.subtotal}}</td>
                    <td id="rows">{{data.igv}}</td>
                    <td id="rows"   >{{data.total}}</td>
                  </tr>
                </tbody>
              </table> 
        </div>
      </div>
</div>

  


