
<div id="general">
    <div id="titulo"><p>Datos del Cliente</p></div>
<div class="row" id="buscar">
    <div class="col-12">
        <input type="text" name="" id="" >
        <input type="button" value="Buscar">
    </div>
</div>
<div class="row" id="fer">
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-12">
                <label><div id="titulo"><b>Nombre:</b></div></label><br>
                <div id="ttt"><input type="text"name=""id=""style="width: 100%"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <label ><div id="titulo"><b>Fecha</b></div></label><br>
                <input type="date" name="" id="" style="width: 170px">
            </div>
            <div class="col-lg-5">
                <label><div id="titulo"><b>DNI</b></div></label><br>
                <input type="text" name="" id="" maxlength="8" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-12">
                <label><div id="titulo"><b>Direccion</b></div></label> <br>
                <input type="text" name="" id="" style="width: 100%">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <label><div id="titulo"><b>Estado</b></div></label> <br>
                <input type="text" name="" id="" maxlength="10" style="width: 100%">
            </div>
            <div class="col-lg-7">
                <label><div id="titulo"><b>Comprobante</b></div></label><br>
                <input type="text" name="" id="">
            </div>
        </div>
    </div>
    <div class="clo-lg-2" style="margin: auto; padding: 5px;"><br>
        <input type="button" value="Agregar">
    </div>
</div>
</div>