<h3 class="titulo-productos text-center">Productos destacados</h3>
<div class="lista-productos">
    <div class="producto" *ngFor="let data of productoList">
        <div class="imagenp">
            {{data.imagen}}
        </div>
        <div class="precio">
            <p>{{data.precio}}</p>
        </div>
        <div class="descripcion">
            <p>{{data.nombre}}</p>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>
