<div class="container">
  <input type="text" class="form-control" id="buscar" placeholder="buscar persona" [(ngModel)]='buscar'>
  <button class="btn btn-primary" (click)='consuCliente();'> Consultar</button>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha</th>
      <th scope="col">DNI</th>
      <th scope="col">Direccion</th>
      <th scope="col">Estado</th>
      <th scope="col">Comprobante</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of clienteList">
      <th scope="row">{{data.nombre}}</th>
      <td>{{data.fecha}}</td>
      <td>{{data.dni}}</td>
      <td>{{data.direccion}}</td>
      <td>{{data.estado}}</td>
      <td>{{data.comprobante}}</td>
    </tr>
  </tbody>
</table> 
