<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Codigo</th>
      <th scope="col">Uni. Medida</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of productoList">
      <th scope="row">{{data.nombre}}</th>
      <td>{{data.precio}}</td>
      <td>{{data.stock}}</td>
      <td>{{data.codigo}}</td>
      <td>{{data.um}}</td>
      <td>{{data.imagen}}</td>
    </tr>
  </tbody>
</table> 
