
<div class="row">
<table border="1px">
	<thead>
	<th width="400px">
		Descripcion
	</th>		
	<th width="130px">
		Codigo
	</th>
	<th width="100px">
		UM
	</th>
	<th width="190px">
		Precio U.
	</th>
	<th width="190px">
		Cantidad
	</th>
	<th width="190px">
		Importe
	</th>
	<th width="190px">
		Acciones
	</th>

	</thead>
	<tbody>
	<td>
		collar de perro 3.2
	</td>
	<td>
		29145670
	</td>
	<td>
		Kg
	</td>
	<td>
		0.10
	</td>
	<td>
		10
	</td>
	<td>
		1
	</td>
	<td>
		<input type="button" value="Eliminar">
	</td>
	</tbody>	
</table>	
</div>
<div class="row">
	<div class="col-6">
		<div class="texto">
			Un Sol con 0/100 nuevos soles
		</div>
	</div>
	<div class="col-6 d-flex justify-content-center" id="padre">
		<div class="tabla">
			<table border="1px">
				<tr>
					<td> <b>Valor de Venta:</b></td>
					<td>0</td>
				</tr>
				<tr>
					<td> <b>IGV:</b></td>
					<td>0</td>
				</tr>
				<tr>
					<td> <b>Importe Total:</b></td>
					<td>0</td>
				</tr>
			</table>	
		</div>
	</div>
</div>

