<div class="container">
	<div class="row">
		<table border="1px">
			<thead>
				<th width="120%">
					Descripcion
				</th>		
				<th width="100%">
					Codigo
				</th>
				<th width="100%">
					UM
				</th>
				<th width="100%">
					Precio U.
				</th>
				<th width="100%">
					Cantidad
				</th>
				<th width="100%">
					Importe
				</th>
				<th width="100%">
					Acciones
				</th>
			</thead>
			<tbody id="cuerpo"> 
				<td>
					<input type="text" name="" id="" disabled value="collar de perro 3.2">	
				</td>
				<td>
					<input type="text" name="" id="" disabled value="29145670">
				</td>
				<td>
					<input type="text" name="" id="" disabled value="Kg">
					
				</td>
				<td>
					<input type="text" name="" id="" disabled value="0.10">	
				</td>
				<td>
					<input type="text" name="" id="" disabled value="10">
				</td>
				<td>
					<input type="text" name="" id="" disabled value="1">
				</td>
				<td>
					<input type="button" value="Eliminar">
				</td>
			</tbody>	
		</table>	
	</div>
	<div class="row">
		<div class="col-6">
			<div class="texto">
				Un Sol con 0/100 nuevos soles
			</div>
		</div>
		<div class="col-6 d-flex justify-content-center" id="padre">
			<div class="tabla">
				<table border="1px">
					<tr>
						<td> <b>Valor de Venta:</b></td>
						<td>0</td>
					</tr>
					<tr>
						<td> <b>IGV:</b></td>
						<td>0</td>
					</tr>
					<tr>
						<td> <b>Importe Total:</b></td>
						<td>0</td>
					</tr>
				</table>	
			</div>
		</div>
	</div>		
</div>
