<div class="container">
	<div class="row">Datos Productos</div>
	<div class="row">
      <div class="col-lg-12">
      	<label><b>PRODUCTOS</b></label> <br>
      	<input type="text" name="" id="" style="width: 100%">
      </div>
    </div>
    <div class="row">
     <div class="col-lg-4">
      <label><b>STOCK</b></label> <br>
      <input type="text" name="" id="" style="width: 100%">
     </div>
    
    <div class="col-lg-4">
      	<label><b>UNIDAD DE MEDIDA</b></label> <br>
      	<input type="text" name="" id="" style="width: 100%">
      </div>
    <div class="col-lg-4">
      	<label><b>VALOR UNITARIO</b></label> <br>
      	<input type="text" name="" id="" style="width: 100%">
      </div>
    </div>
    <div class="row">
     <div class="col-lg-4">
      <label><b>CANTIDAD</b></label> <br>
      <input type="text" name="" id="" style="width: 100%">
     </div>
     <div class="col-lg-4">
      <label><b>IMPORTE</b></label> <br>
      <input type="text" name="" id="" style="width: 100%">
     </div>
    </div>
    <div class="row" >
    	<div class="center">
 			<input type="button" id="boton" value="Agregar">
    	</div>
    </div>
 </div> 
