.container{ 
  background-color: #404040;
  border-radius: 10px 10px 0 0;
  border: black 3px solid;
  padding: 2%;

}

#boton{
  border-radius: 10px 10px 0 0;
  background-color: #5b7989;
}  
.center{
	text-align: center;
	margin: auto;
}

#Consultar{
    background-color: #607d8b !important;
    margin: 2%;
}

#buscar{
	margin: 5%;
	padding-left: 10%;
}

